/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url("https://use.typekit.net/kbg3gya.css");
@import url("https://use.typekit.net/kbg3gya.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

:root {
    --background: radial-gradient(circle, #0010e6 45%, #6b75fa 70%, #ddc8ff 100%);
    --h1: #ffee9a; 
    --h2: #ffee9a;
    --body-text: #D9EAFD;
    --mood-button-bg1: #c3f3fc;
    --mood-button-bg2: linear-gradient(90deg, #00f1fb 0%, #fdffe8 100%); 
    --mood-button-bg3: #FFF5D7; 
    --mood-button-text: #0010E6; 
    --generator-button-bg1: #FFF5D7;
    --generator-button-bg2: linear-gradient(90deg, #f1defd 0%, #FFF5D7 100%);;
    --generator-button-text:#4335A7;
    --a-button-text: #fcf6d1;
    --a-bg: linear-gradient(120deg, #8C92FF, #87C8E6);
    --button-flashing: rgba(255, 255, 255, 0.3);
}

body {
    background: var(--background);
    width: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selections .intro {
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h1);
    font-size: 1.5rem; 
    line-height: 2rem;
    padding-top: 0;
    margin-top:0;
}

h1 {
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h1);
    font-size: 4rem;
}

h2 {
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h2);
    font-size: 3rem; 
}

.selections header, .selections main {
    text-align: center;
    line-height: 1rem;
    padding: 2rem 2rem 0 2rem;
}

.selections p {
    font-family: "sayer-script-mn", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--body-text);
    font-size: 2rem;
    padding-top: 50px;
    line-height: 1rem;
}

/* mood buttons */
.mood-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem; 
}

.mood-buttons input[type="radio"] {
    display: none;
}
  
.mood-buttons label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content; 
    height: 45px;
    background: var(--mood-button-bg1);
    color: var(--mood-button-text);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-family:"sayer-script-mn", sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.mood-buttons label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--button-flashing);
    transition: all 0.3s ease-in-out;
    z-index: 0;  
}

.mood-buttons label:hover::before {
    left: 100%;
}

.mood-buttons label:hover {
    background: var(--mood-button-bg2);
    color: var(--mood-button-text);
    transform: scale(1.05);
    animation: wiggle 0.5s ease-in-out;
}

.mood-buttons input[type="radio"]:checked + label {
    background: var(--mood-button-bg3);
    color: var(--mood-button-text);
}

/* generator button */
.generate-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--generator-button-text);
    background: var(--generator-button-bg1);
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    font-family: "sayer-script-mn", sans-serif;
    margin-top: 2rem;
    border: 10px;
}

.generate-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--button-flashing);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.generate-button:hover::before {
    left: 100%;
}

.generate-button:hover {
    background: var(--generator-button-bg2);
    color: var(--generator-button-text);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    animation: wiggle 0.5s ease-in-out;
}

/* results page */
.results header, .results main {
    text-align: center;
    line-height: 1rem;
    padding: 2rem 2rem 0 2rem;
}

.results h2 {
    padding-top: 2rem;
    color:var(--h2);
}

.results main {
    padding: 0 2rem;
    font-family: "sayer-script-mn", sans-serif;
}

.results h3 {
    padding-top: 0;
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h2);
    font-size: 2.5rem;
}

.results p {
    font-family: "sayer-script-mn", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--body-text);
    font-size: 2rem;
    padding-top: 0;
    max-width: 50ch;
    line-height: 2.5rem;
}

/* song cards */
.song-card {
    padding: 1rem;
    margin: 0;
    text-align: center;
}
  
.song-card img {
    max-width: fit-content;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

/* listen to it button */
.song-card a {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    font-family: "sayer-script-mn", sans-serif;
    color: var(--a-button-text); 
    background: var(--a-bg);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
  
.song-card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--button-flashing);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}
  
.song-card a:hover::before {
    left: 100%;
}
  
.song-card a:hover {
    color: #ffffff; 
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
  
.song-card a:hover {
    animation: wiggle 0.5s ease-in-out;
  }
  
@keyframes wiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(3deg);
    }
}

/* thoughts sharing */
.share-section {
    padding: 1rem 0;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}
  
textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 1px solid var(--h2);
    margin-top: 0.5rem;
    resize: none;
}
  
textarea:focus {
    outline: none;
    border: 5px solid var(--h2);
}
  
#save-thoughts-button {
    color: var(--a-button-text);
    background: var(--a-bg);
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    margin-top: 2rem;
    height: fit-content;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    font-family: "sayer-script-mn", sans-serif;
    border: none;
}

#save-thoughts-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--button-flashing);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

#save-thoughts-button:hover::before {
    left: 100%;
}

#save-thoughts-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    animation: wiggle 0.5s ease-in-out;
    color: #ffffff;
}


@media screen and (max-width:800px) {
    h1, h2, h3 {
        line-height: 4rem;
    } 

    .selections p {
        line-height: 2rem;
    }
}
