/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url("https://use.typekit.net/kbg3gya.css");
@import url("https://use.typekit.net/kbg3gya.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

:root {
    --background: #fbc5bc;
    --h1: #8384b3;
    --h2: #a7cfee;
    --body-text: #2b2b98;
    --button-bg1: #fee6a7;
    --button-bg2: #fdc89b;
    --button-bg3: #cdd6ae;
}

body {
    background: var(--background);
    width: auto;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h1);
    font-size: 4rem;
}

h2 {
    font-family: "marigny", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--h2);
    font-size: 3rem; 
}

.selections header {
    text-align: center;
    line-height: 1rem;
    padding: 2rem 2rem 0 2rem;
}

.selections main {
    text-align: center;
    line-height: 1rem;
    padding: 2rem 2rem 0 2rem;
}

.selections p {
    font-family: "sayer-script-mn", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--body-text);
    font-size: 2rem;
    padding-top: 50px;
}

.mood-buttons {
    color: var(--body-text);
}
